{"openapi":"3.0.1","info":{"title":"Arvan LIVE","version":"2.0","x-logo":{"url":"\/images\/other\/arvan-api-docs-logo.svg","backgroundColor":"white","altText":"arvancloud"}},"servers":[{"url":"https:\/\/napi.arvancloud.ir\/live\/2.0"}],"paths":{"\/analytics\/play-count":{"get":{"tags":["Analytics"],"summary":"Return appropriate watch time","description":"Interval constraint\n                        - Max 'daily' : 30d\n                        - Max 'hourly' : 2d\n                        - Max 'minutely' : 2h\n                        <br\/>\n                        Period constraint\n                        - Max : 30d\n                        <br\/>\n                        Since and until constraint\n                        - Max of date format : 30d\n                        - Max of date-time format : 2d\n                        - The format of both should be the same either as date-time or as date.\n                        <br\/>\n                        Aggregate constraint\n                        - It should be used with group_by or interval.","parameters":[{"name":"Period","in":"query","description":"Enum: '1h' '2h' '3h' '6h' '12h' '24h' '3d' '7d' '14d' '1m' ","schema":{"type":"string"}},{"name":"since","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"until","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"interval","in":"query","description":"Enum: 'minutely' 'hourly' 'daily'","schema":{"type":"string"}},{"name":"order_by.name","in":"query","description":"Enum: watch_time","schema":{"type":"string"}},{"name":"order_by.order","in":"query","description":"Enum: 'ASC' 'DESC'","schema":{"type":"string"}},{"name":"group_by","in":"query","description":"Enum: 'channel' 'video' 'country' 'asn'","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limit the number of entities","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Define offset of entities","schema":{"type":"integer"}},{"name":"aggregate","in":"query","description":"Enum: 'SUM' 'AVG' 'MIN' 'MAX' 'COUNT'","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Timezone ex: Asia\/Tehran","schema":{"type":"string"}},{"name":"filters.stream","in":"query","description":"Filter by stream IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Stream ID"}}},{"name":"filters.country","in":"query","description":"Filter by country IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Country ID ex: IR, CA"}}},{"name":"filters.asn","in":"query","description":"Filter by asn numbers","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"ASN number ex: 202468"}}},{"name":"filters.client_type","in":"query","description":"Filter by client type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Client type ex: browser, mobile app"}}},{"name":"filters.client_family","in":"query","description":"Filter by client family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"client family ex: Android Browser, Chrome, Safari, Firefox"}}},{"name":"filters.os_family","in":"query","description":"Filter by os family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"OS family ex: Android, Windows, iOS, GNU\/Linux, Mac"}}},{"name":"filters.device_type","in":"query","description":"Filter by device type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device type ex: smartphone, tv, desktop, tablet"}}},{"name":"filters.device_brand","in":"query","description":"Filter by device brand","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device brand ex: Samsung, Huawei, Xiaomi, Apple, Asus"}}},{"name":"filters.device_model","in":"query","description":"Filter by device model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device model ex: Galaxy A50s, Galaxy S6"}}},{"name":"filters.resolution","in":"query","description":"Filter by resolution","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Resolution ex: 1920x1080"}}}],"responses":{"200":{"description":"Return appropriate watch time","content":[]},"401":{"description":"Unauthenticated","content":[]},"422":{"description":"Unprocessable Entity.","content":[]}}}},"\/analytics\/traffic":{"get":{"tags":["Analytics"],"summary":"Return appropriate traffic","description":"Interval constraint\n                        - Max 'daily' : 30d\n                        - Max 'hourly' : 2d\n                        - Max 'minutely' : 2h\n                        <br\/>\n                        Period constraint\n                        - Max : 30d\n                        <br\/>\n                        Since and until constraint\n                        - Max of date format : 30d\n                        - Max of date-time format : 2d\n                        - The format of both should be the same either as date-time or as date.\n                        <br\/>\n                        Aggregate constraint\n                        - It should be used with group_by or interval.","parameters":[{"name":"Period","in":"query","description":"Enum: '1h' '2h' '3h' '6h' '12h' '24h' '3d' '7d' '14d' '1m'","schema":{"type":"string"}},{"name":"since","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"until","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"interval","in":"query","description":"Enum: 'minutely' 'hourly' 'daily'","schema":{"type":"string"}},{"name":"order_by.name","in":"query","description":"Enum: traffic","schema":{"type":"string"}},{"name":"order_by.order","in":"query","description":"Enum: 'ASC' 'DESC'","schema":{"type":"string"}},{"name":"group_by","in":"query","description":"Enum: 'channel' 'video' 'country' 'asn' 'referer'","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limit the number of entities","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Define offset of entities","schema":{"type":"integer"}},{"name":"aggregate","in":"query","description":"Enum: 'SUM' 'AVG' 'MIN' 'MAX' 'COUNT'","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Timezone ex: Asia\/Tehran","schema":{"type":"string"}},{"name":"filters.stream","in":"query","description":"Filter by stream IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Stream ID"}}},{"name":"filters.country","in":"query","description":"Filter by country IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Country ID ex: IR, CA"}}},{"name":"filters.asn","in":"query","description":"Filter by asn numbers","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"ASN number ex: 202468"}}},{"name":"filters.client_type","in":"query","description":"Filter by client type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Client type ex: browser, mobile app"}}},{"name":"filters.client_family","in":"query","description":"Filter by client family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"client family ex: Android Browser, Chrome, Safari, Firefox"}}},{"name":"filters.os_family","in":"query","description":"Filter by os family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"OS family ex: Android, Windows, iOS, GNU\/Linux, Mac"}}},{"name":"filters.device_type","in":"query","description":"Filter by device type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device type ex: smartphone, tv, desktop, tablet"}}},{"name":"filters.device_brand","in":"query","description":"Filter by device brand","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device brand ex: Samsung, Huawei, Xiaomi, Apple, Asus"}}},{"name":"filters.device_model","in":"query","description":"Filter by device model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device model ex: Galaxy A50s, Galaxy S6"}}},{"name":"filters.resolution","in":"query","description":"Filter by resolution","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Resolution ex: 1920x1080"}}}],"responses":{"200":{"description":"Return appropriate traffic","content":[]},"401":{"description":"Unauthenticated","content":[]},"422":{"description":"Unprocessable Entity.","content":[]}}}},"\/analytics\/watch-time":{"get":{"tags":["Analytics"],"summary":"Return appropriate watch time","description":"Interval constraint\n                        - Max 'daily' : 30d\n                        - Max 'hourly' : 2d\n                        - Max 'minutely' : 2h\n                        <br\/>\n                        Period constraint\n                        - Max : 30d\n                        <br\/>\n                        Since and until constraint\n                        - Max of date format : 30d\n                        - Max of date-time format : 2d\n                        - The format of both should be the same either as date-time or as date.\n                        <br\/>\n                        Aggregate constraint\n                        - It should be used with group_by or interval.","parameters":[{"name":"Period","in":"query","description":"Enum: '1h' '2h' '3h' '6h' '12h' '24h' '3d' '7d' '14d' '1m'","schema":{"type":"string"}},{"name":"since","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"until","in":"query","description":"string <date-time:Y-m-d H:i>|<date: Y-m-d>","schema":{"type":"string"}},{"name":"interval","in":"query","description":"Enum: 'minutely' 'hourly' 'daily'","schema":{"type":"string"}},{"name":"order_by.name","in":"query","description":"Enum: watch_time","schema":{"type":"string"}},{"name":"order_by.order","in":"query","description":"Enum: 'ASC' 'DESC'","schema":{"type":"string"}},{"name":"group_by","in":"query","description":"Enum: 'channel' 'video' 'country' 'asn'","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limit the number of entities","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Define offset of entities","schema":{"type":"integer"}},{"name":"aggregate","in":"query","description":"Enum: 'SUM' 'AVG' 'MIN' 'MAX' 'COUNT'","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Timezone ex: Asia\/Tehran","schema":{"type":"string"}},{"name":"filters.stream","in":"query","description":"Filter by stream IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Stream ID"}}},{"name":"filters.country","in":"query","description":"Filter by country IDs","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Country ID ex: IR, CA"}}},{"name":"filters.asn","in":"query","description":"Filter by asn numbers","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"ASN number ex: 202468"}}},{"name":"filters.client_type","in":"query","description":"Filter by client type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Client type ex: browser, mobile app"}}},{"name":"filters.client_family","in":"query","description":"Filter by client family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"client family ex: Android Browser, Chrome, Safari, Firefox"}}},{"name":"filters.os_family","in":"query","description":"Filter by os family","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"OS family ex: Android, Windows, iOS, GNU\/Linux, Mac"}}},{"name":"filters.device_type","in":"query","description":"Filter by device type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device type ex: smartphone, tv, desktop, tablet"}}},{"name":"filters.device_brand","in":"query","description":"Filter by device brand","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device brand ex: Samsung, Huawei, Xiaomi, Apple, Asus"}}},{"name":"filters.device_model","in":"query","description":"Filter by device model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Device model ex: Galaxy A50s, Galaxy S6"}}},{"name":"filters.resolution","in":"query","description":"Filter by resolution","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","description":"Resolution ex: 1920x1080"}}}],"responses":{"200":{"description":"Return appropriate watch time","content":[]},"401":{"description":"Unauthenticated","content":[]},"422":{"description":"Unprocessable Entity.","content":[]}}}},"\/report\/geo":{"get":{"tags":["General Report"],"summary":"Return Domain Geo Report.","parameters":[{"name":"period","in":"query","description":"Values: 1h,3h,6h,12h,24h,7d,30d","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain Geo","content":[]}}}},"\/report\/statistics":{"get":{"tags":["General Report"],"summary":"Return Domain statistics report.","responses":{"200":{"description":"Domain Statistica (video and channel count)","content":[]}}}},"\/report\/traffics":{"get":{"tags":["General Report"],"summary":"Return Domain Traffic.","parameters":[{"name":"period","in":"query","description":"Values: 1h,3h,6h,12h,24h,7d,30d","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain Traffic","content":[]}}}},"\/report\/user-agent":{"get":{"tags":["General Report"],"summary":"Return User Agent.","parameters":[{"name":"period","in":"query","description":"Values: 1h,3h,6h,12h,24h,7d,30d","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"user agent","content":[]}}}},"\/report\/visitors":{"get":{"tags":["General Report"],"summary":"Return Domain Visitors.","parameters":[{"name":"period","in":"query","description":"Values: 1h,3h,6h,12h,24h,7d,30d","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain Visitors","content":[]}}}},"\/domain":{"get":{"operationId":"get-user-domain","tags":["Domain"],"summary":"Return user domain of Live service.","responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"domain":{"type":"string"},"subdomain":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["user_request","bucket_creating","bucket_creating_failed","bucket_created","domain_creating","domain_creating_failed","complete"]},"active":{"type":"boolean"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}}}},"post":{"tags":["Domain"],"summary":"Create user domain for Live service.","requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"subdomain":{"type":"string","description":"The subdomain. Only contain lower case letters and digits.","example":"exampledomain","maxLength":63,"pattern":"^[a-z0-9-]*$"}},"required":["subdomain"]}}},"required":true},"responses":{"201":{"description":"Return created domain","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"domain":{"type":"string"},"subdomain":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["user_request","bucket_creating","bucket_creating_failed","bucket_created","domain_creating","domain_creating_failed","complete"]},"active":{"type":"boolean"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams":{"get":{"tags":["Stream"],"summary":"Return all streams.","parameters":[{"name":"filter","in":"query","description":"Filter result","schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"per_page","in":"query","description":"Page limit for query","schema":{"type":"integer"}},{"name":"secure_ip","in":"query","description":"The IP address for generate secure links for. If stream is secure default is request IP","schema":{"type":"string"}},{"name":"secure_expire_time","in":"query","description":"The Unix Timestamp for expire secure links. * If stream is secure default is 24 hours later from now","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"input_url":{"type":"string","format":"uri"},"timeshift":{"type":"integer"},"type":{"type":"string"},"mode":{"type":"string"},"fps_mode":{"type":"string"},"fps":{"type":"integer"},"convert_info":{"type":"array","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer"},"video_bitrate":{"type":"integer"},"resolution_width":{"type":"integer"},"resolution_height":{"type":"integer"}}}},"status":{"type":"string","enum":["push_ready","queue","creating_stream","streaming","stopping_stream"]},"config_url":{"type":"string","format":"uri"},"player_url":{"type":"string","format":"uri"},"hls_playlist":{"type":"string","format":"uri"},"dash_playlist":{"type":"string","format":"uri"},"archive_enabled":{"type":"boolean"},"archive_mode":{"type":"string"},"channel_id":{"type":"string"},"catchup_enabled":{"type":"boolean"},"catchup_period":{"type":"integer"},"watermark_enabled":{"type":"boolean"},"watermark_id":{"type":"string"},"watermark_area":{"type":"string"},"ads_enabled":{"type":"boolean"},"present_type":{"type":"string"},"campaign_id":{"type":"string"},"secure_link_enabled":{"type":"boolean"},"secure_link_key":{"type":"string"},"secure_link_with_ip":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}}},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"total":{"type":"integer"},"page":{"type":"integer"},"per_page":{"type":"integer"}}}}},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}}}},"post":{"tags":["Stream"],"summary":"Store a newly created stream.","requestBody":{"description":"Stream details","content":{"application\/json":{"schema":{"required":["title","slug","mode","type","fps","convert_info"],"type":"object","properties":{"title":{"type":"string","description":"Title of the stream","minLength":3,"maxLength":255},"description":{"type":"string","description":"Description of the stream"},"type":{"type":"string","description":"Stream latency type","enum":["normal","low_latency"]},"mode":{"type":"string","description":"Way to receive input stream","enum":["pull","push"]},"input_url":{"type":"string","description":"Public URL of stream input in PULL mode"},"slug":{"type":"string","description":"Unique slug for your stream. Only contain lower case letters and digits","minLength":3,"maxLength":255,"example":"exampleslug"},"timeshift":{"type":"integer","description":"Timeshift (DVR) in minutes to watch the earlier content. (max value is growth = 10, professional = 30, enterprise = 120)","minimum":1,"maximum":120},"fps_mode":{"type":"string","description":"stream fps mode","enum":["auto","manual"]},"fps":{"type":"integer","description":"Input steam frame per second","minimum":1,"maximum":60},"archive_enabled":{"type":"boolean","description":"Set this value to True to archive the stream as a VoD","default":false},"archive_mode":{"type":"string","description":"Way to archive stream. if archive_enabled is true, required.","enum":["auto","manual"]},"channel_id":{"type":"string","description":"Channel Id to save archive. if archive_enabled is true, required.","format":"uuid"},"catchup_enabled":{"type":"boolean","description":"Set this value to True to enable catchup for the stream","default":false},"catchup_period":{"type":"integer","description":"Hours of catchup must be available for the stream","minimum":0,"maximum":720},"watermark_enabled":{"type":"boolean","description":"Set this value to True to enable watermark for the stream","default":false},"watermark_id":{"type":"string","description":"If you want to use watermark for stream, use this","format":"uuid"},"watermark_area":{"type":"string","description":"Area of the watermark if watermark_id presents","enum":["CENTER","FIX_TOP_LEFT","FIX_TOP_RIGHT","FIX_TOP_CENTER","FIX_BOTTOM_LEFT","FIX_BOTTOM_RIGHT","FIX_BOTTOM_CENTER","ANIMATE_LEFT_TO_RIGHT","ANIMATE_TOP_TO_BOTTOM"]},"ads_enabled":{"type":"boolean","description":"Enable or disable Ads for created stream","example":false},"present_type":{"type":"string","description":"Ads present method","enum":["manual"]},"campaign_id":{"type":"string","description":"Created CampaignId in Ads","format":"uuid"},"convert_info":{"type":"array","description":"Array of convert details","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer","description":"Audio bitrate in kilobit","minimum":32,"maximum":320},"video_bitrate":{"type":"integer","description":"Video bitrate in kilobit (max value is basic\/growth = 2500, professional = 4500, enterprise = 6000)","minimum":128},"resolution_width":{"type":"integer","description":"resolution width (max value is basic\/growth = 1920, professional = 2560, enterprise = 4096)","minimum":64},"resolution_height":{"type":"integer","description":"resolution height (max value is basic\/growth = 1080, professional = 1080, enterprise = 2160)","minimum":64}}}},"secure_link_enabled":{"type":"boolean","description":"Enable or disable secure link for all videos in channel","example":false},"secure_link_key":{"type":"string","description":"Key for generate secure links","minLength":3,"maxLength":500,"example":"example"},"secure_link_with_ip":{"type":"boolean","description":"IP can be considered as an optional parameter","example":true}}}}},"required":true},"responses":{"201":{"description":"Return created stream","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"input_url":{"type":"string","format":"uri"},"timeshift":{"type":"integer"},"type":{"type":"string"},"mode":{"type":"string"},"fps_mode":{"type":"string"},"fps":{"type":"integer"},"convert_info":{"type":"array","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer"},"video_bitrate":{"type":"integer"},"resolution_width":{"type":"integer"},"resolution_height":{"type":"integer"}}}},"status":{"type":"string"},"config_url":{"type":"string","format":"uri"},"player_url":{"type":"string","format":"uri"},"hls_playlist":{"type":"string","format":"uri"},"dash_playlist":{"type":"string","format":"uri"},"archive_enabled":{"type":"boolean"},"archive_mode":{"type":"string"},"channel_id":{"type":"string"},"catchup_enabled":{"type":"boolean"},"catchup_period":{"type":"integer"},"watermark_id":{"type":"string"},"watermark_area":{"type":"string"},"ads_enabled":{"type":"boolean"},"present_type":{"type":"string"},"campaign_id":{"type":"string"},"secure_link_enabled":{"type":"boolean"},"secure_link_key":{"type":"string"},"secure_link_with_ip":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams\/{stream}":{"get":{"tags":["Stream"],"summary":"Return the specified stream.","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"secure_ip","in":"query","description":"The IP address for generate secure links for. If stream is secure default is request IP","schema":{"type":"string"}},{"name":"secure_expire_time","in":"query","description":"The Unix Timestamp for expire secure links. * If stream is secure default is 24 hours later from now","schema":{"type":"integer"}}],"responses":{"200":{"description":"Return the specified stream","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"input_url":{"type":"string","format":"uri"},"timeshift":{"type":"integer"},"type":{"type":"string"},"mode":{"type":"string"},"fps_mode":{"type":"string"},"fps":{"type":"integer"},"convert_info":{"type":"array","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer"},"video_bitrate":{"type":"integer"},"resolution_width":{"type":"integer"},"resolution_height":{"type":"integer"}}}},"status":{"type":"string"},"config_url":{"type":"string","format":"uri"},"player_url":{"type":"string","format":"uri"},"hls_playlist":{"type":"string","format":"uri"},"dash_playlist":{"type":"string","format":"uri"},"archive_enabled":{"type":"boolean"},"archive_mode":{"type":"string"},"channel_id":{"type":"string"},"catchup_enabled":{"type":"boolean"},"catchup_period":{"type":"integer"},"watermark_enabled":{"type":"boolean"},"watermark_id":{"type":"string"},"watermark_area":{"type":"string"},"ads_enabled":{"type":"boolean"},"present_type":{"type":"string"},"campaign_id":{"type":"string"},"secure_link_enabled":{"type":"boolean"},"secure_link_key":{"type":"string"},"secure_link_with_ip":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"total":{"type":"integer"},"page":{"type":"integer"},"per_page":{"type":"integer"}}}}},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}},"patch":{"tags":["Stream"],"summary":"Update the specified stream.","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Stream details","content":{"application\/json":{"schema":{"required":["title","slug","mode","type","fps","convert_info"],"type":"object","properties":{"title":{"type":"string","description":"Title of the stream","minLength":3,"maxLength":255},"description":{"type":"string","description":"Description of the stream"},"type":{"type":"string","description":"Stream latency type","enum":["normal","low_latency"]},"mode":{"type":"string","description":"Way to receive input stream","enum":["pull","push"]},"input_url":{"type":"string","description":"Public URL of stream input in PULL mode"},"slug":{"type":"string","description":"Unique slug for your stream. Only contain lower case letters and digits","minLength":3,"maxLength":255,"example":"exampleslug"},"timeshift":{"type":"integer","description":"Timeshift (DVR) in minutes to watch the earlier content. (max value is growth = 10, professional = 30, enterprise = 120)","minimum":1,"maximum":120},"fps_mode":{"type":"string","description":"stream fps mode","enum":["auto","manual"]},"fps":{"type":"integer","description":"Input steam frame per second","minimum":1,"maximum":60},"archive_enabled":{"type":"boolean","description":"Set this value to True to archive the stream as a VoD","default":false},"archive_mode":{"type":"string","description":"Way to archive stream. if archive_enabled is true, required.","enum":["auto","manual"]},"channel_id":{"type":"string","description":"Channel Id to save archive. if archive_enabled is true, required.","format":"uuid"},"catchup_enabled":{"type":"boolean","description":"Set this value to True to enable catchup for the stream","default":false},"catchup_period":{"type":"integer","description":"Hours of catchup must be available for the stream","minimum":0,"maximum":720},"watermark_enabled":{"type":"boolean","description":"Set this value to True to enable watermark for the stream","default":false},"watermark_id":{"type":"string","description":"If you want to use watermark for stream, use this","format":"uuid"},"watermark_area":{"type":"string","description":"Area of the watermark if watermark_id presents","enum":["CENTER","FIX_TOP_LEFT","FIX_TOP_RIGHT","FIX_TOP_CENTER","FIX_BOTTOM_LEFT","FIX_BOTTOM_RIGHT","FIX_BOTTOM_CENTER","ANIMATE_LEFT_TO_RIGHT","ANIMATE_TOP_TO_BOTTOM"]},"ads_enabled":{"type":"boolean","description":"Enable or disable Ads for created stream","example":false},"present_type":{"type":"string","description":"Ads present method","enum":["manual"]},"campaign_id":{"type":"string","description":"Created CampaignId in Ads","format":"uuid"},"convert_info":{"type":"array","description":"Array of convert details","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer","description":"Audio bitrate in kilobit","minimum":32,"maximum":320},"video_bitrate":{"type":"integer","description":"Video bitrate in kilobit (max value is basic\/growth = 2500, professional = 4500, enterprise = 6000)","minimum":128},"resolution_width":{"type":"integer","description":"resolution width (max value is basic\/growth = 1920, professional = 2560, enterprise = 4096)","minimum":64},"resolution_height":{"type":"integer","description":"resolution height (max value is basic\/growth = 1080, professional = 1080, enterprise = 2160)","minimum":64}}}},"secure_link_enabled":{"type":"boolean","description":"Enable or disable secure link for all videos in channel","example":false},"secure_link_key":{"type":"string","description":"Key for generate secure links","minLength":3,"maxLength":500,"example":"example"},"secure_link_with_ip":{"type":"boolean","description":"IP can be considered as an optional parameter","example":true}}}}},"required":true},"responses":{"200":{"description":"Stream updated successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"input_url":{"type":"string","format":"uri"},"timeshift":{"type":"integer"},"type":{"type":"string"},"mode":{"type":"string"},"fps_mode":{"type":"string"},"fps":{"type":"integer"},"convert_info":{"type":"array","items":{"type":"object","properties":{"audio_bitrate":{"type":"integer"},"video_bitrate":{"type":"integer"},"resolution_width":{"type":"integer"},"resolution_height":{"type":"integer"}}}},"status":{"type":"string"},"config_url":{"type":"string","format":"uri"},"player_url":{"type":"string","format":"uri"},"hls_playlist":{"type":"string","format":"uri"},"dash_playlist":{"type":"string","format":"uri"},"archive_enabled":{"type":"boolean"},"archive_mode":{"type":"string"},"channel_id":{"type":"string"},"catchup_enabled":{"type":"boolean"},"catchup_period":{"type":"integer"},"watermark_id":{"type":"string"},"watermark_area":{"type":"string"},"ads_enabled":{"type":"boolean"},"present_type":{"type":"string"},"campaign_id":{"type":"string"},"secure_link_enabled":{"type":"boolean"},"secure_link_key":{"type":"string"},"secure_link_with_ip":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}},"delete":{"tags":["Stream"],"summary":"Remove the specified stream.","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stream deleted successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams\/{stream}\/start-pull":{"post":{"tags":["Stream"],"summary":"Start live stream. (Pull mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"stream started successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Push mode, stream is not queue)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams\/{stream}\/stop-pull":{"post":{"tags":["Stream"],"summary":"Stop live stream. (Pull Mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stream stopped successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Push mode, Not streaming)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/admin\/streams\/{stream}\/start-pull":{"post":{"tags":["Stream"],"summary":"Admin: Start live stream. (Pull mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"stream started successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Push mode, stream is not queue)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/admin\/streams\/{stream}\/stop-pull":{"post":{"tags":["Stream"],"summary":"Admin: Stop live stream. (Pull mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stream stopped successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Push mode, Not streaming)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams\/{stream}\/start-record":{"post":{"tags":["Stream"],"summary":"Start record live stream. (Auto archive mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Archive started successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Disable archive, Auto Archive, No Streaming, Archive already active)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/streams\/{stream}\/stop-record":{"post":{"tags":["Stream"],"summary":"Stop record live stream. (Auto archive mode)","parameters":[{"name":"stream","in":"path","description":"The Id of stream","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Archive stopped successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"409":{"description":"Conflict. (Disable archive, Auto Archive, No Active Archive)","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/watermarks":{"get":{"tags":["Watermark"],"summary":"Return all watermarks.","parameters":[{"name":"filter","in":"query","description":"Filter result","schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"per_page","in":"query","description":"Page limit for query","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}}},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"total":{"type":"integer"},"page":{"type":"integer"},"per_page":{"type":"integer"}}}}},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}}}},"post":{"tags":["Watermark"],"summary":"Store a newly created Watermark.","requestBody":{"content":{"multipart\/form-data":{"schema":{"required":["title","watermark"],"type":"object","properties":{"title":{"type":"string","description":"Title of watermark"},"description":{"type":"string","description":"Description of watermark"},"watermark":{"type":"string","description":"Watermark file","format":"binary"}}}}},"required":true},"responses":{"201":{"description":"Return created watermark","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"\/watermarks\/{watermark}":{"get":{"tags":["Watermark"],"summary":"Return the specified watermark.","parameters":[{"name":"watermark","in":"path","description":"The Id of watermark","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Return the specified watermark","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}},"patch":{"tags":["Watermark"],"summary":"Update the specified watermark.","parameters":[{"name":"watermark","in":"path","description":"The Id of watermark","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Watermark details","content":{"application\/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":"Title of watermark"},"description":{"type":"string","description":"Description of watermark"}}}}},"required":true},"responses":{"200":{"description":"Stream updated successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"402":{"description":"Payment Required. Account has been suspended.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}},"delete":{"tags":["Watermark"],"summary":"Remove the specified watermark.","parameters":[{"name":"watermark","in":"path","description":"The Id of watermark","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stream deleted successfully","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"400":{"description":"Bad Request. Domain not activate.","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"423":{"description":"Locked, watermark has running stream","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"},"meta":{"type":"object"},"errors":{"type":"object"}}}}}}}}},"\/streams\/{stream_id}\/metrics\/concurrent-viewers":{"get":{"tags":["Metrics"],"summary":"Get concurrent viewers metrics","description":"Time-series of concurrent viewers (`metric_type`: `concurrent_viewers`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"Concurrent viewers metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsConcurrentViewersResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/rebuffer-ratio":{"get":{"tags":["Metrics"],"summary":"Get rebuffer ratio metrics","description":"Time-series of rebuffer ratio (`metric_type`: `rebuffer_ratio`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"Rebuffer ratio metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsRebufferRatioResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/startup-time":{"get":{"tags":["Metrics"],"summary":"Get startup time metrics","description":"Time-series of startup time (`metric_type`: `startup_time`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"Startup time metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsStartupTimeResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/bitrate":{"get":{"tags":["Metrics"],"summary":"Get bitrate metrics","description":"Time-series of average bitrate (`metric_type`: `bitrate`), returned as separate `video` and `audio` series, each with its own `data` and `stats`.","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"Bitrate metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsBitrateResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/fps":{"get":{"tags":["Metrics"],"summary":"Get FPS metrics","description":"Time-series of FPS (`metric_type`: `fps`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"FPS metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsFPSResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/ttff":{"get":{"tags":["Metrics"],"summary":"Get TTFF (Time To First Frame) metrics","description":"Time-series of time-to-first-frame (`metric_type`: `ttff`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"TTFF metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsTTFFResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/watch-time":{"get":{"tags":["Metrics"],"summary":"Get watch time metrics","description":"Time-series of watch time (`metric_type`: `watch_time`).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"},{"$ref":"#\/components\/parameters\/MetricGranularity"}],"responses":{"200":{"description":"Watch time metrics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsWatchTimeResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/streams\/{stream_id}\/metrics\/stats":{"get":{"tags":["Metrics"],"summary":"Get aggregate statistics","description":"Aggregate statistics over the time range (no granularity).","parameters":[{"$ref":"#\/components\/parameters\/MetricStreamId"},{"$ref":"#\/components\/parameters\/MetricStartTime"},{"$ref":"#\/components\/parameters\/MetricEndTime"}],"responses":{"200":{"description":"Aggregate statistics","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/MetricsAggregateStatsResponse"}}}},"400":{"description":"Invalid parameters"}}}},"\/report\/watch-time":{"post":{"tags":["Internal Service"],"summary":"Return accumulated watch time per domain","description":"Internal service endpoint (requires service credentials). Returns total watch-time in hours per domain for the given time window.","security":[{"api_key":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["domains","since","until"],"properties":{"domains":{"type":"array","items":{"type":"string"},"description":"List of domain IDs to query","example":["domain-uuid-1","domain-uuid-2"]},"since":{"type":"string","format":"date-time","description":"Start of the time window (RFC3339)","example":"2024-01-01T00:00:00Z"},"until":{"type":"string","format":"date-time","description":"End of the time window (RFC3339)","example":"2024-01-31T00:00:00Z"}}}}}},"responses":{"200":{"description":"Watch time per domain in hours","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string","example":"domain-uuid-1"},"watch_time":{"type":"number","format":"double","description":"Watch time in hours","example":12.5}}}}}}}}},"400":{"description":"Missing or invalid parameters"},"401":{"description":"Unauthenticated \/ unauthorized service credentials"},"500":{"description":"Internal server error"}}}},"\/report\/play-time":{"post":{"tags":["Internal Service"],"summary":"Return accumulated play time per user","description":"Internal service endpoint (requires service credentials). Returns total live stream play-time in hours per user for the given time window. Play-time is measured from stream start to stream end (`stream_enables.started_at` \u2192 `ended_at`).","security":[{"api_key":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["user_ids","since","until"],"properties":{"user_ids":{"type":"array","items":{"type":"string"},"description":"List of user IDs to query","example":["user-uuid-1","user-uuid-2"]},"since":{"type":"string","format":"date-time","description":"Start of the time window (RFC3339)","example":"2024-01-01T00:00:00Z"},"until":{"type":"string","format":"date-time","description":"End of the time window (RFC3339)","example":"2024-01-31T00:00:00Z"}}}}}},"responses":{"200":{"description":"Play time per user in hours","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"user_id":{"type":"string","example":"user-uuid-1"},"play_time":{"type":"number","format":"double","description":"Live stream play time in hours","example":3.75}}}}}}}}},"400":{"description":"Missing or invalid parameters"},"401":{"description":"Unauthenticated \/ unauthorized service credentials"},"500":{"description":"Internal server error"}}}}},"components":{"parameters":{"Accept-Language":{"name":"Accept-Language","in":"header","schema":{"type":"string","enum":["en","fa"]}},"MetricStreamId":{"name":"stream_id","in":"path","required":true,"description":"Stream identifier","schema":{"type":"string"}},"MetricStartTime":{"name":"start_time","in":"query","required":true,"description":"Start time in RFC3339 format (e.g. 2026-06-09T10:00:00Z)","schema":{"type":"string","format":"date-time"}},"MetricEndTime":{"name":"end_time","in":"query","required":true,"description":"End time in RFC3339 format (e.g. 2026-06-09T11:00:00Z). Must be greater than or equal to start_time.","schema":{"type":"string","format":"date-time"}},"MetricGranularity":{"name":"granularity","in":"query","required":false,"description":"Time bucket granularity","schema":{"type":"string","enum":["minute","hour","day"],"default":"minute"}}},"schemas":{"MetricsTimeRange":{"type":"object","properties":{"start":{"type":"string","format":"date-time"},"end":{"type":"string","format":"date-time"}}},"MetricsTimeSeriesPoint":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"value":{"type":"number","format":"double"}}},"MetricsStats":{"type":"object","properties":{"min":{"type":"number","format":"double"},"max":{"type":"number","format":"double"},"avg":{"type":"number","format":"double"},"p50":{"type":"number","format":"double"},"p90":{"type":"number","format":"double"},"p99":{"type":"number","format":"double"}}},"MetricsQueryResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["concurrent_viewers","rebuffer_ratio","startup_time","bitrate","fps","ttff","watch_time"]},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsAggregateStats":{"type":"object","properties":{"stream_id":{"type":"string"},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"total_unique_viewers":{"type":"integer","format":"int64"},"max_concurrent_viewers":{"type":"integer","format":"int64"},"total_watch_time":{"type":"number","format":"double"},"avg_rebuffer_count":{"type":"number","format":"double"},"avg_startup_time_ms":{"type":"number","format":"double"},"avg_abr_switches":{"type":"number","format":"double"}}},"MetricsTimeSeriesResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsQueryResult"},"meta":{"type":"object","nullable":true}}},"MetricsConcurrentViewersResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsConcurrentViewersResult"},"meta":{"type":"object","nullable":true}}},"MetricsRebufferRatioResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsRebufferRatioResult"},"meta":{"type":"object","nullable":true}}},"MetricsStartupTimeResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsStartupTimeResult"},"meta":{"type":"object","nullable":true}}},"MetricsBitrateResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsBitrateResult"},"meta":{"type":"object","nullable":true}}},"MetricsFPSResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsFPSResult"},"meta":{"type":"object","nullable":true}}},"MetricsTTFFResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsTTFFResult"},"meta":{"type":"object","nullable":true}}},"MetricsWatchTimeResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsWatchTimeResult"},"meta":{"type":"object","nullable":true}}},"MetricsConcurrentViewersResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["concurrent_viewers"],"example":"concurrent_viewers"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsRebufferRatioResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["rebuffer_ratio"],"example":"rebuffer_ratio"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsStartupTimeResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["startup_time"],"example":"startup_time"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsSeries":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsBitrateResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["bitrate"],"example":"bitrate"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"video":{"$ref":"#\/components\/schemas\/MetricsSeries"},"audio":{"$ref":"#\/components\/schemas\/MetricsSeries"}}},"MetricsFPSResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["fps"],"example":"fps"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsTTFFResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["ttff"],"example":"ttff"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsWatchTimeResult":{"type":"object","properties":{"stream_id":{"type":"string"},"metric_type":{"type":"string","enum":["watch_time"],"example":"watch_time"},"granularity":{"type":"string","enum":["minute","hour","day"]},"time_range":{"$ref":"#\/components\/schemas\/MetricsTimeRange"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/MetricsTimeSeriesPoint"}},"stats":{"$ref":"#\/components\/schemas\/MetricsStats"}}},"MetricsAggregateStatsResponse":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","nullable":true},"data":{"$ref":"#\/components\/schemas\/MetricsAggregateStats"},"meta":{"type":"object","nullable":true}}}},"securitySchemes":{"api_key":{"type":"apiKey","name":"Authorization","in":"header"}}},"x-original-swagger-version":"2.0"}